.pricing{

    &__list{
        display: flex;
        justify-content: space-between;
        gap: 20px;

        @include tablet{
            flex-wrap: wrap;
            justify-content: space-around;
            row-gap: 40px;
            column-gap: 20px;
        }
        &-item{
            max-width: 390px;
            padding: 60px 24px 40px;
            background-color: var(--color-blue);
            text-align: center;

            @include tablet{
                max-width: 300px;
                padding: 40px 20px 30px;
            }

            &:nth-child(1){
                border-top: 3px solid var(--color-accent);
            }

            &:nth-child(2){
                border-top: 3px solid var(--color-pink);
            }

            &:nth-child(3){
                border-top: 3px solid var(--color-violet);
            }
        }

        &-title{
            font-size: 30px;
            margin-bottom: 40px;

            @include tablet{ 
                font-size: 24px;
            }

            @include mobile{
                margin-bottom: 30px;
            }
        }

        &-price{
            font-size: 40px;
            margin-bottom: 32px;

            @include tablet{
                font-size: 30px;
            }

            
            @include mobile{
                margin-bottom: 24px;
            }
        }

        &-descr{
            margin-bottom: 32px;
        }
    }
}