.container{
    max-width: calc(var(--container-padding-x) * 2 + var(--container-width) );
    margin-inline: auto;
    padding-inline: var(--container-padding-x);

    &--no-padding{
        padding-right: 0;
    }
}

.content{
    position: relative;
    overflow-x: hidden;
}

.subtitle{
    color: var(--color-accent);
    text-transform: uppercase;
    margin-bottom: 28px;
}

.visually-hidden {
    @include visually-hidden
}

.hidden-mobile{
    @include mobile{
        display: none !important;
    }
}

.visible-mobile{
    @include mobile-above{
        display: none !important;
    }
}